In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# modules
from src.load import LoadData
from src.preprocessing import PrepareData
from src.train import ClassificationModel
from src.eval import Eval

# load data
train_path = 'data/train.csv'
test_path = 'data/test.csv'
train = LoadData.load(train_path)
test = LoadData.load(test_path)

In [2]:
train.head(3)

,user_id,fact_dt,emb_0000,emb_0001,emb_0002,emb_0003,emb_0004,emb_0005,emb_0006,emb_0007,...,entity_0009_rt,entity_0010_rt,entity_0011_ct,entity_0012_ct,entity_0013_ct,entity_0014_rt,entity_0015_ct,entity_0016_rt,entity_0017_cd,target
0,0,711 days,-1.130920,1.895028,-1.736251,0.872448,-0.854317,0.545024,1.202575,-0.072018,...,NaN,1.000000,3,446.0,207,1.166190,NaN,1.008388,d,1
1,1,218 days,-1.777758,2.195476,-1.177928,0.997776,-0.966194,0.702989,0.975820,0.703755,...,0.975221,0.996865,3,330.0,200,1.753914,NaN,1.001191,d,1
2,2,462 days,-0.800151,2.204143,-0.514011,0.961015,-0.116245,0.218591,1.152742,0.955213,...,NaN,0.781602,2,191.0,82,1.548657,NaN,0.989861,c,1

In [3]:
train.info(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106235 entries, 0 to 106234
Data columns (total 84 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         106235 non-null  int64
 1   fact_dt         106235 non-null  object
 2   emb_0000        106235 non-null  float64
 3   emb_0001        106235 non-null  float64
 4   emb_0002        106235 non-null  float64
 5   emb_0003        106235 non-null  float64
 6   emb_0004        106235 non-null  float64
 7   emb_0005        106235 non-null  float64
 8   emb_0006        106235 non-null  float64
 9   emb_0007        106235 non-null  float64
 10  emb_0008        106235 non-null  float64
 11  emb_0009        106235 non-null  float64
 12  emb_0010        106235 non-null  float64
 13  emb_0011        106235 non-null  float64
 14  emb_0012        106235 non-null  float64
 15  emb_0013        106235 non-null  float64
 16  emb_0014        106235 non-null  float64
 17  emb_0015        106235 non-null  float64
 18  emb_0016        106235 non-null  float64
 19  emb_0017        106235 non-null  float64
 20  emb_0018        106235 non-null  float64
 21  emb_0019        106235 non-null  float64
 22  emb_0020        106235 non-null  float64
 23  emb_0021        106235 non-null  float64
 24  emb_0022        106235 non-null  float64
 25  emb_0023        106235 non-null  float64
 26  emb_0024        106235 non-null  float64
 27  emb_0025        106235 non-null  float64
 28  emb_0026        106235 non-null  float64
 29  emb_0027        106235 non-null  float64
 30  emb_0028        106235 non-null  float64
 31  emb_0029        106235 non-null  float64
 32  emb_0030        106235 non-null  float64
 33  emb_0031        106235 non-null  float64
 34  emb_0032        106235 non-null  float64
 35  emb_0033        106235 non-null  float64
 36  emb_0034        106235 non-null  float64
 37  emb_0035        106235 non-null  float64
 38  emb_0036        106235 non-null  float64
 39  emb_0037        106235 non-null  float64
 40  emb_0038        106235 non-null  float64
 41  emb_0039        106235 non-null  float64
 42  emb_0040        106235 non-null  float64
 43  emb_0041        106235 non-null  float64
 44  emb_0042        106235 non-null  float64
 45  emb_0043        106235 non-null  float64
 46  emb_0044        106235 non-null  float64
 47  emb_0045        106235 non-null  float64
 48  emb_0046        106235 non-null  float64
 49  emb_0047        106235 non-null  float64
 50  emb_0048        106235 non-null  float64
 51  emb_0049        106235 non-null  float64
 52  emb_0050        106235 non-null  float64
 53  emb_0051        106235 non-null  float64
 54  emb_0052        106235 non-null  float64
 55  emb_0053        106235 non-null  float64
 56  emb_0054        106235 non-null  float64
 57  emb_0055        106235 non-null  float64
 58  emb_0056        106235 non-null  float64
 59  emb_0057        106235 non-null  float64
 60  emb_0058        106235 non-null  float64
 61  emb_0059        106235 non-null  float64
 62  emb_0060        106235 non-null  float64
 63  emb_0061        106235 non-null  float64
 64  emb_0062        106235 non-null  float64
 65  emb_0063        106235 non-null  float64
 66  entity_0001_ct  106235 non-null  int64
 67  entity_0002_ct  106235 non-null  int64
 68  entity_0003_ct  106235 non-null  int64
 69  entity_0004_ct  106235 non-null  int64
 70  entity_0005_ct  106235 non-null  int64
 71  entity_0006_rt  100611 non-null  float64
 72  entity_0007_ct  318 non-null     float64
 73  entity_0008_ct  25363 non-null   float64
 74  entity_0009_rt  53533 non-null   float64
 75  entity_0010_rt  80846 non-null   float64
 76  entity_0011_ct  106235 non-null  int64
 77  entity_0012_ct  100611 non-null  float64
 78  entity_0013_ct  106235 non-null  int64
 79  entity_0014_rt  100611 non-null  float64
 80  entity_0015_ct  25363 non-null   float64
 81  entity_0016_rt  106235 non-null  float64
 82  entity_0017_cd  106235 non-null  object
 83  target          106235 non-null  int64
dtypes: float64(73), int64(9), object(2)
memory usage: 68.1+ MB

In [4]:
test.head(3)

,Id,user_id,fact_dt,emb_0000,emb_0001,emb_0002,emb_0003,emb_0004,emb_0005,emb_0006,...,entity_0008_ct,entity_0009_rt,entity_0010_rt,entity_0011_ct,entity_0012_ct,entity_0013_ct,entity_0014_rt,entity_0015_ct,entity_0016_rt,entity_0017_cd
0,0,104363,552 days,-1.786346,2.074665,-1.504628,1.143300,-0.979666,0.750931,1.091962,...,NaN,1.0,0.997459,3,339.0,173,2.300125,NaN,-0.003703,d
1,1,104364,152 days,-1.555227,1.703838,-1.682477,1.143936,-1.363388,0.921123,1.209163,...,NaN,1.0,NaN,1,98.0,54,1.598273,NaN,-0.009720,a
2,2,104365,714 days,-1.350453,1.907620,-1.563653,1.271580,-0.902961,0.582773,1.127565,...,NaN,1.0,1.000000,2,235.0,109,1.368001,NaN,-0.011771,d

In [5]:
test.info(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26824 entries, 0 to 26823
Data columns (total 84 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              26824 non-null  int64
 1   user_id         26824 non-null  int64
 2   fact_dt         26824 non-null  object
 3   emb_0000        26824 non-null  float64
 4   emb_0001        26824 non-null  float64
 5   emb_0002        26824 non-null  float64
 6   emb_0003        26824 non-null  float64
 7   emb_0004        26824 non-null  float64
 8   emb_0005        26824 non-null  float64
 9   emb_0006        26824 non-null  float64
 10  emb_0007        26824 non-null  float64
 11  emb_0008        26824 non-null  float64
 12  emb_0009        26824 non-null  float64
 13  emb_0010        26824 non-null  float64
 14  emb_0011        26824 non-null  float64
 15  emb_0012        26824 non-null  float64
 16  emb_0013        26824 non-null  float64
 17  emb_0014        26824 non-null  float64
 18  emb_0015        26824 non-null  float64
 19  emb_0016        26824 non-null  float64
 20  emb_0017        26824 non-null  float64
 21  emb_0018        26824 non-null  float64
 22  emb_0019        26824 non-null  float64
 23  emb_0020        26824 non-null  float64
 24  emb_0021        26824 non-null  float64
 25  emb_0022        26824 non-null  float64
 26  emb_0023        26824 non-null  float64
 27  emb_0024        26824 non-null  float64
 28  emb_0025        26824 non-null  float64
 29  emb_0026        26824 non-null  float64
 30  emb_0027        26824 non-null  float64
 31  emb_0028        26824 non-null  float64
 32  emb_0029        26824 non-null  float64
 33  emb_0030        26824 non-null  float64
 34  emb_0031        26824 non-null  float64
 35  emb_0032        26824 non-null  float64
 36  emb_0033        26824 non-null  float64
 37  emb_0034        26824 non-null  float64
 38  emb_0035        26824 non-null  float64
 39  emb_0036        26824 non-null  float64
 40  emb_0037        26824 non-null  float64
 41  emb_0038        26824 non-null  float64
 42  emb_0039        26824 non-null  float64
 43  emb_0040        26824 non-null  float64
 44  emb_0041        26824 non-null  float64
 45  emb_0042        26824 non-null  float64
 46  emb_0043        26824 non-null  float64
 47  emb_0044        26824 non-null  float64
 48  emb_0045        26824 non-null  float64
 49  emb_0046        26824 non-null  float64
 50  emb_0047        26824 non-null  float64
 51  emb_0048        26824 non-null  float64
 52  emb_0049        26824 non-null  float64
 53  emb_0050        26824 non-null  float64
 54  emb_0051        26824 non-null  float64
 55  emb_0052        26824 non-null  float64
 56  emb_0053        26824 non-null  float64
 57  emb_0054        26824 non-null  float64
 58  emb_0055        26824 non-null  float64
 59  emb_0056        26824 non-null  float64
 60  emb_0057        26824 non-null  float64
 61  emb_0058        26824 non-null  float64
 62  emb_0059        26824 non-null  float64
 63  emb_0060        26824 non-null  float64
 64  emb_0061        26824 non-null  float64
 65  emb_0062        26824 non-null  float64
 66  emb_0063        26824 non-null  float64
 67  entity_0001_ct  26824 non-null  int64
 68  entity_0002_ct  26824 non-null  int64
 69  entity_0003_ct  26824 non-null  int64
 70  entity_0004_ct  26824 non-null  int64
 71  entity_0005_ct  26824 non-null  int64
 72  entity_0006_rt  25272 non-null  float64
 73  entity_0007_ct  87 non-null     float64
 74  entity_0008_ct  6830 non-null   float64
 75  entity_0009_rt  13627 non-null  float64
 76  entity_0010_rt  19965 non-null  float64
 77  entity_0011_ct  26824 non-null  int64
 78  entity_0012_ct  25272 non-null  float64
 79  entity_0013_ct  26824 non-null  int64
 80  entity_0014_rt  25272 non-null  float64
 81  entity_0015_ct  6830 non-null   float64
 82  entity_0016_rt  26824 non-null  float64
 83  entity_0017_cd  26824 non-null  object
dtypes: float64(73), int64(9), object(2)
memory usage: 17.2+ MB

In [6]:
# подготовка данных для обучения и тестирования

modifiedData = PrepareData(train, test, valid_size=0.3, random_number=42, norm=True)
dict_obj = modifiedData.main_process()

x_train = dict_obj['x_train']
x_val = dict_obj['x_val']
x_test = dict_obj['x_test']
y_train = dict_obj['y_train']
y_val = dict_obj['y_val']
id_person_test = dict_obj['id_person_test']

In [7]:
# Обучение модели 

clf_obj = ClassificationModel(x_train, y_train)
clf_logreg = clf_obj.train()

In [9]:
Eval._eval(clf_logreg, x_val, y_val, x_test, id_person_test)

roc_auc_score on valid set: 1.0